/* welcome-header는 only BEM을 이요해 작성 */
.welcome-header {
  margin: 90px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 30px;
}
.welcome-header__text {
  width: 55%;
  opacity: 0.4;
}

/* login-form은 only pseudo selector 를 이용해 작성 */

#login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 30px;
}
/* login-form 의 모든 자식 input */
/* Pseudo Selector */
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}
/* type="submit"을 attribute로 가지지 않는 login-form의 자식 input들에만
border-bottom 및 transition적용 */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

/* Attribute selector */
/* login-form 의 모든 자식 input의 placeholder(attribute) */
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
/* State */
#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  font-size: 20px;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
