.nav {
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  /* padding이 생겨도 box size가 바뀌지 않도록 설정 */
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.nav_btn {
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  right: 0.5px;
}
.nav__reddot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 0.5px;
  /* top: -2px; */
}
